{{template "base" .}}

{{ define "title" }} RPS Web - About Us {{ end }}

{{ define "content" }} 
<h1>About Us</h1>
<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">About Camilo Diaz</h2>
                <p>Backend Developer</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero impedit magnam culpa aliquam iusto. Dignissimos voluptatum eveniet numquam voluptas quisquam, corrupti vero necessitatibus expedita, dolorem perspiciatis consectetur soluta ipsa est.</p>
                <p></p>
            </div>

            <ul class="py-3">
                <li><a href="https://github.com/Camilodr125" target="_blank">Github</a></li>
            </ul>
        </div>
    </div>
</section>
{{ end }}